.navbar-default {
    background-color: #fcfcfc;
    border-color: #e7e7e7;
    height: 52px;
}
.nav-text {
    color: black;
    margin-top: 0px;
    font-size: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    /*border-bottom: 1px #1abc9c solid;*/
}
.nav-bar-container {
    background: white;
}
.nav-bar {
    max-width: 900px;
    margin: auto;
    white-space: nowrap;
    background: white;
}

.nav-bar ul{
    margin: 0;
    list-style-type: none;
    padding-right: 40px;
}

.nav-item textArea{
    display: block;
    margin: auto;
    width:90%;
    height:400px;
}

.nav-item-right {
    float:right;
}

.nav-link{
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    font-size: 26px;
    text-decoration:none;
    color: black;
    opacity: .5;
    outline: none;
    text-decoration: none;

}
.nav-link:focus,
.nav-link:active,
.nav-link:hover {
    outline: none !important;
    text-decoration: none;
}
.nav-item {
    display:inline-block;
    margin-right:5px;
}
a:hover {
    opacity: 1;
}
/* .activeLink{
    /*background: rgb(0, 153, 204);*/
    /* border-bottom: 4px solid #1abc9c; */
    /* opacity: 1; */
    /* text-decoration: none; */
/* } */
.nav-item:after {
    display:block;
    content: '';
    border-bottom: solid 4px #1abc9c;
    transform: scaleX(0);
    margin-bottom: -4px;
    transition: transform 250ms ease-in-out;
}
.nav-item:hover:after {
    transform: scaleX(1);
}
.nav-button{
    cursor: pointer;
    padding: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    opacity: 1;
    background: #1abc9c;
    color: white !important;
    border-bottom: 1px #1abc9c solid;
    /*margin: 0;*/
}

.nav-button:hover {
    background: #1abc9c !important;
    transition: 250ms ease-in-out;
    opacity: .8;
}

@media(max-width: 767px){
    .navbar-default {
        height: auto;
    }
    .nav-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
}