.login-heading{
    color: #000;
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.register {
    background-color: #fcfcfc;
    color: black;
    border: 1px solid #e2e1e1;
    padding: 20px;
    margin-top: 50px;
}

.register input{
    color: #666;
    font-size: 16px;
    letter-spacing: 1px;
    height:34px;
    padding: 8px;
    padding-left: 10px;
    margin: 15px 0;
    border-radius: 0;
}

.register button{
    padding: 5px 30px;
    margin-top: 10px;
    color: white;
    border-radius: 0;
    display: inline-block;
}

.valid-button{
    background: rgb(51, 102, 153);
}
.valid-button:hover{
    background: rgb(0, 153, 204);
}

.invalid-button{
    background: grey;
}
.invalid-button:hover{
    background: grey;
}

.form-error {
    display: inline;

    background-color: rgb(255, 179, 179);
    border: 1px solid Red;
    border-radius: 4px;

    padding-left: 10px;
    padding-right: 10px;
}
